@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil+One&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway&family=Ubuntu:wght@400;500;700&display=swap');
@import "tailwindcss";

::selection {
    background-color: #fff; 
    color: #000;            
  }
  

  /* body,
html {
  background: #212121;
  width: 100%;
  height: 100%;
  letter-spacing: 1.2px;
} */

.parallax1 {
  background: url("/src/assets/webPhotos/twitterdark.png")no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  margin-top: -35px;
  filter:opacity(0.5);
  /* filter:color(#ff8904) */
}

.parallax0 {
  background: url("/src/assets/webPhotos/gotogether.png")no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  margin-top: -35px;
  filter:opacity(0.5);
}

.parallax3 {
  background: url("/src/assets/webPhotos/image.png")no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  filter:opacity(0.7)
}

.parallax2 {
  background: url("/src/assets/webPhotos/healingTouch.png")no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  filter: opacity(0.7);
}

.parallax4 {
  background: url("/src/assets/webPhotos/tldr.png")no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  filter: opacity(0.7);
}


